<launch>

  <!-- Run the map server -->
  <arg name="map_file" default="$(find nav2d_pratham)/maps/map_move.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!--- Run AMCL -->
  <include file="$(find nav2d_pratham)/launch files/amcl.launch" />

  <!--- Run Move Base -->
  <!-- <include file="$(find nav2d)/launch files/move_base.launch" /> -->

</launch>